firebase_admin==6.1.0
Flask==2.2.3
openai==0.26.5
pandas==2.0.0
Pillow==9.5.0
protobuf==4.22.3
spacy==3.5.2
tqdm==4.64.1
google-api-core==2.11.0
google-auth==2.16.0
google-cloud-vision==3.3.1
googleapis-common-protos==1.58.0
